<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bysj</display-name>
  <listener>
    <listener-class>com.my.bysj.web.listener.init</listener-class>
  </listener>
  <servlet>
    <servlet-name>PersonController</servlet-name>
    <servlet-class>com.my.bysj.activity.web.controller.PersonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonController</servlet-name>
    <url-pattern>/activity/Person/save.do</url-pattern>
    <url-pattern>/toLogin.do</url-pattern>
    <url-pattern>/toRegister.do</url-pattern>
    <url-pattern>/getBulletin.do</url-pattern>
    <url-pattern>/setBulletin.do</url-pattern>
    <url-pattern>/getPerson.do</url-pattern>
    <url-pattern>/getCsv.do</url-pattern>
    <url-pattern>/saveImg.do</url-pattern>
    <url-pattern>/getImg.do</url-pattern>
    <url-pattern>/setStatus.do</url-pattern>
  </servlet-mapping>
</web-app>
































